@import '../variables.scss';

.titule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        p {
            max-width: 500px;
            display: flex;
            align-items: flex-end;
            font-size: $subtitle-s;
            font-family: $txt-f;

            &:first-child {
                max-width: 1000px;
            }
        }

        a {
            display: block;
            width: fit-content;
            padding: 15px 20px;
            border: 4px solid $yellow;
            border-radius: 10px;
            background: none;
            font-size: $subtitle-s;
            font-family: $txt-f;
            color: $yellow;
            transition: .3s;

            &:hover {
                background-color: $yellow;
                color: $bg-block-2;
                transition: .3s;
            }
        }
    }

    &__name {
        color: $yellow;
        font-family: $title-f;
        font-size: $title-s;
        display: block;
        margin-left: 20px;
        margin-bottom: -4px;
    }

    &__img {
        margin-right: -45px;
        max-height: 100%;
        height: 100%;

        img {
            height: calc(100% + 80px);
            margin-top: -80px;
        }
    }
}

.main-block {
    width: 100%;
    height: 100vh;

    &:first-child {
        padding-top: 120px;
    }
}

.block-1 {
    overflow: hidden;
    background-color: $bg-block;
    box-shadow: $header-shadow;
}

.profession {
    display: flex;

    ul {
        display: none;
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    right: 100px;
    bottom: 5px;

    a {
        display: block;
        width: fit-content;
        height: fit-content;
    }

    a svg {
        fill: $txt-color;
        transition: .3s;
    }

    a:hover svg {
        fill: $yellow;
        transition: .3s;
    }

    &::before {
        position: absolute;
        right: 23px;
        top: -120px;
        content: "";
        background-color: $yellow;
        height: 100px;
        width: 2px;
    }
}




// ============================================== About =============================================

.about {
    padding: 80px 0;

    &__title {
        text-align: start;
        margin-bottom: 0;
    }

    &__text {
        margin-top: 40px;
        margin-left: 80px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: $yellow;
            left: -80px;
            top: 12px;
            height: 2px;
            width: 60px;
        }
    }
}



// ============================================== Skills =============================================

.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    position: relative;

    &__block {
        z-index: 1;
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-color: $bg-block-2;
        box-shadow: $tile-shadow;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-size: $subtitle-mobile-s;
        font-family: $txt-f;
        color: $txt-color;
        transition: .3s;

        img {
            max-width: 175px;
            max-height: 125px;
            border-radius: 10px;
            transition: .3s;
        }
    }

    &__block:hover {
        background-color: $yellow;
        color: $bg-block-2;
        transition: .3s;

        img {
            transform: scale(1.05);
            transition: .3s;
        }
    }

    &__dots {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        pointer-events: none;
        width: 150px;
    }
}




// ============================================== Media =============================================

@media screen and (max-width: 1350px) {
    .titule {
        &__img {
            margin-right: -20%;
        }

        &__text {
            margin: auto;
        }
    }
}


@media screen and (max-width: 1080px) {
    .titule {
        flex-direction: column;

        &__img img {
            margin-top: -160px;
            margin-right: -140px;
        }
    }
}

@media screen and (max-width: 950px) {
    .social {
        right: 20px;
        bottom: 10px;

        &::before {
            right: 23px;
            top: -120px;
        }
    }
}


@media screen and (max-width: 625px) {
    .social {
        display: none;
    }

    .titule {
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 100%;

        &__img img {
            margin: auto;
        }

        &__text {
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $bg-header;
            backdrop-filter: blur(5px);
            padding: 20px 10px;

            p {
                align-items: center;
                text-align: center;

                &:first-child {
                    width: min-content;
                }
            }
        }
    }

    .about {
        padding: 80px 0;

        &__text {
            margin-left: 0;
            
            &::before {
                left: 0;
                top: -20px;
            }
        }
    }
}

@media screen and (max-width: 590px) {
    .skills {
        gap: 20px;

        &__block {
            width: 200px;
            height: 200px;

            img {
                max-width: 125px;
                max-height: 75px;
            }
        }
    }
}

@media screen and (max-width: 466px) {
    .skills {
        gap: 20px;

        &__block {
            width: 100%;
            height: 300px;

            img {
                max-width: 90%;
                max-height: 50%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .about {
        padding: 40px 0;
    }

    .titule {
        &__img {
            margin: auto auto auto -150px;
        }

        &__text, p, a {
            font-size: $subtitle-mobile-s;
        }

        &__text &__name {
            font-size: $title-mobile-s;
        }
    }
}

@media screen and (max-width: 320px) {
    .skills {
        &__block {
            height: 250px;
        }
    }

    .titule {
        &__text, p, a {
            font-size: $subtitle-mobile-2-s;
        }

        &__text &__name {
            font-size: $title-mobile-2-s;
        }
    }
}