@import '../variables.scss';

.titule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        p {
            max-width: 500px;
            display: flex;
            align-items: flex-end;
            font-size: $subtitle-s;
            font-family: $txt-f;

            &:first-child {
                max-width: 1000px;
            }
        }

        a {
            display: block;
            width: fit-content;
            padding: 15px 20px;
            border: 4px solid $yellow;
            border-radius: 10px;
            background: none;
            font-size: $subtitle-s;
            font-family: $txt-f;
            color: $yellow;
            transition: .3s;

            &:hover {
                background-color: $yellow;
                color: $bg-block-2;
                transition: .3s;
            }
        }
    }

    &__name {
        color: $yellow;
        font-family: $title-f;
        font-size: $title-s;
        display: block;
        margin-left: 20px;
        margin-bottom: -4px;
    }

    &__img {
        margin-right: -45px;
        max-height: 100%;
        height: 100%;

        img {
            height: calc(100% + 80px);
            margin-top: -80px;
        }
    }
}

.main-block {
    width: 100%;
    height: 100vh;

    &:first-child {
        padding-top: 120px;
    }
}

.block-1 {
    overflow: hidden;
    background-color: $bg-block;
    box-shadow: $header-shadow;
}

.profession {
    display: flex;

    ul {
        display: none;
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    right: 100px;
    bottom: 5px;

    a {
        display: block;
        width: fit-content;
        height: fit-content;
    }

    a svg {
        fill: $txt-color;
        transition: .3s;
    }

    a:hover svg {
        fill: $yellow;
        transition: .3s;
    }

    &::before {
        position: absolute;
        right: 23px;
        top: -120px;
        content: "";
        background-color: $yellow;
        height: 100px;
        width: 2px;
    }
}




// ============================================== About =============================================

.about {
    padding: 80px 0;

    &__title {
        text-align: start;
        margin-bottom: 0;
    }

    &__text {
        margin-top: 40px;
        margin-left: 80px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-color: $yellow;
            left: -80px;
            top: 12px;
            height: 2px;
            width: 60px;
        }
    }
}



// ============================================== Skills =============================================

.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    position: relative;

    &__block {
        z-index: 1;
        display: flex;
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-color: $bg-block-2;
        box-shadow: $tile-shadow;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        font-size: $subtitle-mobile-s;
        font-family: $txt-f;
        color: $txt-color;
        transition: .3s;

        img {
            max-width: 175px;
            max-height: 125px;
            border-radius: 10px;
            transition: .3s;
        }
    }

    &__block:hover {
        background-color: $yellow;
        color: $bg-block-2;
        transition: .3s;

        img {
            transform: scale(1.05);
            transition: .3s;
        }
    }

    &__dots {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        pointer-events: none;
        width: 150px;
    }
}






// ============================================== Portfolio =============================================

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    &__block {
        width: 400px;
        height: 400px;
        position: relative;
        overflow: hidden;
        transition: .3s;

        &:hover img {
            transform: scale(1.05);
            transition: .3s;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .3s;
        }

        div {
            width: 100%;
            height: 100%;
            background-color: $bg-header;
            backdrop-filter: blur(8px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            top: 0;
            left: 0;
            padding: 10px;
            opacity: 0;
            transition: .3s;

            .work__title {
                font-family: $txt-f;
                font-size: $subtitle-s;
                letter-spacing: $lsp-txt;
            }

            .work__text {
                text-align: center;
                height: fit-content;
                display: block;
                max-width: 400px;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: $txt-f;
                font-size: $subtitle-mobile-3-s;
                line-height: $lh-txt;
            }

            a {
                font-family: $txt-f;
                font-size: $subtitle-mobile-3-s;
                line-height: $lh-txt;
                color: $bg-block-2;
                background-color: $yellow;
                border-radius: 10px;
                padding: 5px 20px;
                font-weight: bold;
                transition: .3s;
                
                &:hover {
                    box-shadow: $yellow-shadow;
                    padding: 10px 40px;
                    transition: .3s;
                }
            }

            &:hover {
                opacity: 1;
                transition: .3s;
            }
        }
    }
}

.more-projects {
    display: block;
    width: fit-content;
    font-family: $txt-f;
    font-size: $subtitle-mobile-2-s;
    line-height: $lh-txt;
    color: $bg-block-2;
    background-color: $yellow;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
    margin: 40px auto;
    transition: .3s;

    &:hover {
        box-shadow: $yellow-shadow;
        transform: scale(1.05);
        transition: .3s;
    }
}










// ============================================== Experience =============================================

.experience {
    margin-top: 125px;
    background-color: $bg-block-2;
    box-shadow: $tile-shadow;
    padding: 60px 0;

    .title {
        text-align: start;
        margin-top: -85px;
    }

    .exp {
        &__items {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: auto;
            max-width: 700px;
            gap: 50px;
            margin-top: 80px;
            margin-left: 422px;
        }

        &__item {
            padding-left: 40px;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-direction: column;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                height: calc(100% - 40px);
                left: -20px;
                bottom: 0;
                width: 3px;
                background-color: $txt-color;
                box-shadow: $yellow-ultra-shadow;
            }

            &::after {
                position: absolute;
                content: "";
                height: 30px;
                width: 30px;
                border-radius: 50%;
                top: 0;
                left: -33px;
                background-color: $yellow;
                box-shadow: $yellow-shadow;
            }
        }

        &__position {
            font-family: $header-f;
            font-size: $subtitle-s;
            font-weight: bold;
        }

        &__company {
            font-family: $header-f;
            font-size: $subtitle-mobile-s;
        }

        &__description {
            font-size: $subtitle-mobile-2-s;
            color: $txt-color-inact;
            margin-top: 10px;
        }

        &__date {
            position: absolute;
            top: -10px;
            right: calc(100% + 80px);
            width: max-content;
            background-color: $bg-year;
            padding: 10px 10px 10px 20px;
            z-index: 1;

            &::before {
                content: "";
                border-radius: 50% 50% 0 50%;
                position: absolute;
                background-color: $bg-year;
                width: 48px;
                height: 48px;
                top: 0;
                right: -20px;
                z-index: -1;
                transform: rotate(-45deg);
                pointer-events: none;
            }
        }
    }
}





// ============================================== Contact Me =============================================

.contact-me {
    position: relative;
    padding: 60px 0;

    img {
        position: absolute;
        left: 0;
        top: -135px;
        z-index: -1;
    }

    form {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        max-width: 400px;
        width: 100%;
        padding: 20px 0;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: $yellow;
            -webkit-box-shadow: inset 0 0 0 50px $inp-bg;
            transition: 0;
        }

        input, textarea {
            background-color: $inp-bg;
            border: 2px solid $inp-bg;
            padding: 10px 20px;
            font-family: $header-f;
            font-size: $header-s;
            color: $yellow;
            outline: none;
            box-sizing: border-box;
            transition: .3s;
            
            &::placeholder {
                transition: .3s;
            }

            &:active, &:focus, &:not(:invalid) {
                border-color: $yellow;
                transition: .3s;

                &::placeholder {
                    transition: .3s;
                    color: $yellow;
                }
            }
        }

        input, textarea, button {
            width: 100%;
            border-radius: 10px;
        }

        button {
            display: block;
            border: 4px solid $yellow;
            padding: 10px 0;
            border-radius: 10px;
            background: none;
            font-family: $header-f;
            font-size: $header-s;
            color: $yellow;
            margin: auto;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: $yellow;
                color: $bg-block-2;
                transition: .3s;
            }
        }
    }
}




// ============================================== My contact =============================================

.my-contacts {
    margin-top: 40px;
    background-color: $bg-block-2;
    box-shadow: $tile-shadow;
    box-sizing: border-box;

    .title {
        min-width: fit-content;
        margin-bottom: 5px;
    }

    .up, .down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        span {
            background-color: $yellow;
            height: 2px;
            width: 100%;
        }
    }

    .up {
        transform: translateY(-50%);
    }

    .down {
        transform: translateY(50%);
    }

    // .title, .social {
    //     position: relative;

    //     &::before {
    //         position: absolute;
    //         content: "";
    //         background-color: $yellow;
    //         height: 2px;
    //         width: 37%;
    //         left: 0;
    //         top: calc(50% - 1px);
    //     }
    //     &::after {
    //         position: absolute;
    //         content: "";
    //         background-color: $yellow;
    //         height: 2px;
    //         width: 37%;
    //         right: 0;
    //         top: calc(50% - 1px);
    //     }
    // }

    .social {
        display: flex;
        justify-content: center;
        margin: 0 0 -10px 0;
        flex-direction: row;
        width: 100%;
        max-width: fit-content;
        right: auto;
        position: unset;

        &::after, &::before {
            display: none;
        }
    }

    .contacts {
        margin: 40px auto;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 10px 20px;


        &__item {
            max-width: 350px;
            width: 100%;
            background-color: $bg;
            padding: 20px 20px;
            border-radius: 10px;
            box-shadow: $tile-shadow;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            transition: .3s;

            svg  {
                fill: $txt-color;
                transition: .3s;
            }

            span {
                color: $yellow;
                font-family: $header-f;
                font-size: $subtitle-mobile-s;
                transition: .3s;
            }

            &:hover {
                background-color: $yellow;
                transition: .3s;

                span {
                    color: $bg-block;
                }

                svg {
                    fill: $bg-block;
                }
            }
        }
    }
}



// ============================================== Media =============================================

@media screen and (max-width: 1350px) {
    .titule {
        &__img {
            margin-right: -20%;
        }

        &__text {
            margin: auto;
        }
    }

    .experience .exp__items {
        margin-left: 30%;
    }
}


@media screen and (max-width: 1080px) {
    .titule {
        flex-direction: column;

        &__img img {
            margin-top: -160px;
            margin-right: -140px;
        }
    }
}

@media screen and (max-width: 950px) {
    .social {
        right: 20px;
        bottom: 10px;

        &::before {
            right: 23px;
            top: -120px;
        }
    }

    .portfolio {
        &__block {
            width: 320px;
            height: 320px;
        }
    }

    .experience .exp__items {
        margin-left: auto;
    }

    .experience .exp__date {
        position: initial;
        margin-bottom: 10px;
        margin-top: -10px;
        padding: 10px;

        &::before {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .experience .exp__item::before {
        left: 5px;
    }

    .experience .exp__item::after {
        left: -8px;
    }
}

@media screen and (max-width: 734px) {
    .portfolio {
        &__block {
            width: 280px;
            height: 280px;
        }
    }

    .contact-me img {
        left: -76px;
        top: -217px;
    }
}


@media screen and (max-width: 625px) {
    .social {
        display: none;
    }

    .titule {
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        width: 100%;

        &__img img {
            margin: auto;
        }

        &__text {
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $bg-header;
            backdrop-filter: blur(5px);
            padding: 20px 10px;

            p {
                align-items: center;
                text-align: center;

                &:first-child {
                    width: min-content;
                }
            }
        }
    }

    .about {
        padding: 80px 0;

        &__text {
            margin-left: 0;
            
            &::before {
                left: 0;
                top: -20px;
            }
        }
    }
}

@media screen and (max-width: 590px) {
    .skills {
        gap: 20px;

        &__block {
            width: 200px;
            height: 200px;

            img {
                max-width: 125px;
                max-height: 75px;
            }
        }
    }
}

@media screen and (max-width: 466px) {
    .skills {
        gap: 20px;

        &__block {
            width: 100%;
            height: 300px;

            img {
                max-width: 90%;
                max-height: 50%;
            }
        }
    }

    .portfolio {
        &__block {
            width: 100%;
            height: 400px;
        }
    }
}

@media screen and (max-width: 425px) {
    .about {
        padding: 40px 0;
    }

    .titule {
        &__img {
            margin: auto auto auto -150px;
        }

        &__text, p, a {
            font-size: $subtitle-mobile-s;
        }

        &__text &__name {
            font-size: $title-mobile-s;
        }
    }

    .portfolio {
        &__block {
            height: 220px;
        }
    }
}

@media screen and (max-width: 360px) {
    .my-contacts .contacts__item span {
        font-size: $subtitle-mobile-2-s;
    }
}

@media screen and (max-width: 320px) {
    .skills {
        &__block {
            height: 250px;
        }
    }

    .titule {
        &__text, p, a {
            font-size: $subtitle-mobile-2-s;
        }

        &__text &__name {
            font-size: $title-mobile-2-s;
        }
    }

    .portfolio {
        &__block {
            height: 180px;
        }
    }

    .my-contacts .contacts__item span {
        font-size: $subtitle-mobile-3-s;
    }
}