@import '../variables.scss';

// ============================================== Main =============================================



.titule {
    background-color: $bg-block;
    box-shadow: $tile-shadow;
    padding: 60px 20px;

    .main-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
        perspective: 1000px;

        img {
            border-radius: 10px;
            height: 80%;
            perspective: 300px;
            transform: rotateY(325deg);
            cursor: pointer;
            transition: .3s;

            &:hover {
                transform: rotateY(350deg) scale(1.1);
                box-shadow: $yellow-ultra-shadow;
                transition: .3s;
            }
        }

        .info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            .title {
                color: $yellow;
                text-align: start;
                margin: 20px 0;
            }

            .short-desc {
                font-size: $subtitle-mobile-2-s;
                font-family: $txt-f;
                line-height: $lh-txt;
                min-width: 500px;
            }
        }
    }
}






// ============================================== Tags =============================================

.tags {
    position: relative;
    padding: 60px 20px;

    .tag-list {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;

        li {
            margin-bottom: 25px;
        }

        li a {
            background-color: $bg-year;
            color: $txt-color;
            padding: 10px 20px;
            border-radius: 10px;
            font-family: $header-f;
            font-size: $subtitle-mobile-s;
            box-shadow: $tile-shadow;
            transition: .3s;
            
            span {
                color: $yellow;
                transition: .3s;
            }

            &:hover {
                background-color: $yellow;
                color: $bg-block;
                transition: .3s;

                span {
                    color: $bg-block;
                    transition: .3s;
                }
            }
        }
    }

    .dots {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translateY(30%);
    }
}






// ============================================== Description =============================================

.description {
    color: $txt-color;
    font-family: $header-f;
    font-size: $header-s;
    line-height: $lh-txt;
    padding: 60px 20px;
    margin-top: 40px;

    .title {
        margin-bottom: 40px;
    }

    b {
        color: $yellow;
    }

    p, ul {
        padding-bottom: 20px;
    }

    ul {
        li {
            margin-left: 40px;
            margin-bottom: 5px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background-color: $yellow;
                height: 2px;
                width: 20px;
                left: 0;
                top: calc(50% - 1px);
                transform: translateX(calc(-50% - 20px));
            }
        }
    }
}

.desc {
    box-shadow: $tile-shadow;
    position: relative;

    &__dots {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        transform: translateY(50%);
    }
}



// ============================================== Media =============================================

@media screen and (max-width: 1200px) {
    .titule {
        padding-top: 120px;
    }

    .titule .main-block {
        height: auto;
    }

    .titule .main-block img {
        cursor: unset;
        transform: none;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;

        &:hover {
            transform: none;
            box-shadow: none;
        }
    }

    .titule .main-block {
        flex-direction: column-reverse;
        .titule .main-block .info {
            justify-content: center;
        }
    }

    .titule .main-block .info .short-desc {
        min-width: auto;
    }
}

@media screen and (max-width: 961px) {
    .titule {
        padding-top: 0;
    }
}