@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
.titule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}
.titule__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
.titule__text p {
  max-width: 500px;
  display: flex;
  align-items: flex-end;
  font-size: 28px;
  font-family: "Montserrat-Regular";
}
.titule__text p:first-child {
  max-width: 1000px;
}
.titule__text a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border: 4px solid #ffc86b;
  border-radius: 10px;
  background: none;
  font-size: 28px;
  font-family: "Montserrat-Regular";
  color: #ffc86b;
  margin-top: 10%;
  transition: 0.3s;
}
.titule__text a:hover {
  background-color: #ffc86b;
  color: #3d3e42;
  transition: 0.3s;
}
.titule__name {
  color: #ffc86b;
  font-family: "Montserrat-SemiBold";
  font-size: 48px;
  display: block;
  margin-bottom: -4px;
}
.titule__img {
  margin-right: -45px;
  max-height: 100%;
  height: 100%;
}
.titule__img img {
  height: calc(100% + 80px);
  margin-top: -80px;
}

.main-block {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.main-block:first-child {
  padding-top: 120px;
}

.block-1 {
  overflow: hidden;
  background-color: #3d3e42;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.profession {
  display: flex;
}
.profession ul {
  display: none;
}

.social {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  position: absolute;
  right: 100px;
  bottom: 5px;
}
.social a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.social a svg {
  fill: #eaeaea;
  transition: 0.3s;
}
.social a:hover svg {
  fill: #ffc86b;
  transition: 0.3s;
}
.social::before {
  position: absolute;
  right: 23px;
  top: -120px;
  content: "";
  background-color: #ffc86b;
  height: 100px;
  width: 2px;
}

.about {
  padding: 80px 0;
}
.about__title {
  text-align: start;
  margin-bottom: 0;
}
.about__text {
  margin-top: 40px;
  margin-left: 80px;
  font-size: 22px;
  word-wrap: break-word;
  position: relative;
}
.about__text strong {
  color: #ffc86b;
}
.about__text p {
  padding-bottom: 25px;
}
.about__text::before {
  content: "";
  position: absolute;
  background-color: #ffc86b;
  left: -80px;
  top: 12px;
  height: 2px;
  width: 60px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 100px;
  position: relative;
}
.skills__block {
  z-index: 1;
  display: flex;
  width: 175px;
  height: 175px;
  border-radius: 20px;
  background-color: #3d3e42;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  font-size: 18px;
  font-family: "Montserrat-Regular";
  color: #eaeaea;
  transition: 0.3s !important;
}
.skills__block img {
  max-width: 125px;
  max-height: 85px;
  border-radius: 10px;
  transition: 0.3s;
}
.skills__block:hover {
  background-color: #ffc86b;
  color: #3d3e42;
  transition: 0.3s;
}
.skills__block:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}
.skills__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  width: 150px;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio__block {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.portfolio__block:hover img {
  transform: scale(1.05);
  transition: 0.3s;
}
.portfolio__block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.portfolio__block div {
  width: 100%;
  height: 100%;
  background-color: rgba(52, 53, 58, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 0;
  transition: 0.3s;
}
.portfolio__block div .work__title {
  font-family: "Montserrat-Regular";
  font-size: 28px;
  letter-spacing: -1px;
  text-align: justify;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portfolio__block div .work__text {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  max-width: 400px;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.portfolio__block div a {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 24px;
  color: #3d3e42;
  background-color: #ffc86b;
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: bold;
  transition: 0.3s;
}
.portfolio__block div a:hover {
  box-shadow: 0px 0px 20px 0px #ffc86b;
  transition: 0.3s;
}
.portfolio__block div:hover {
  opacity: 1;
  transition: 0.3s;
}

.more-projects {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #3d3e42;
  background-color: #ffc86b;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
  margin: 40px auto;
  transition: 0.3s !important;
}
.more-projects:hover {
  box-shadow: 0px 0px 20px 0px #ffc86b;
  transition: 0.3s;
}

.experience {
  margin-top: 125px;
  background-color: #3d3e42;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 0 0 60px 0;
}
.experience .exp__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 700px;
  gap: 50px;
  margin-top: 80px;
  margin-left: 422px;
}
.experience .exp__item {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  position: relative;
}
.experience .exp__item::before {
  position: absolute;
  content: "";
  height: calc(100% - 40px);
  left: -20px;
  bottom: 0;
  width: 3px;
  background-color: #eaeaea;
  box-shadow: 0px 0px 30px 0px rgba(255, 201, 107, 0.4588235294);
}
.experience .exp__item::after {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: 0;
  left: -33px;
  background-color: #ffc86b;
  box-shadow: 0px 0px 20px 0px #ffc86b;
}
.experience .exp__position {
  font-family: "Montserrat-Regular";
  font-size: 28px;
  font-weight: bold;
}
.experience .exp__company {
  font-family: "Montserrat-Regular";
  font-size: 24px;
}
.experience .exp__description {
  font-size: 18px;
  color: #b9b9ba;
  margin-top: 10px;
  text-align: justify;
}
.experience .exp__description p {
  padding-bottom: 25px;
}
.experience .exp__description a {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.experience .exp__description a, .experience .exp__description strong {
  color: #ffc86b;
  transition: 0.3s;
}
.experience .exp__description a:hover {
  text-shadow: #ffc86b 1px 0 10px;
  transition: 0.3s;
}
.experience .exp__date {
  position: absolute;
  top: -10px;
  right: calc(100% + 80px);
  width: -moz-max-content;
  width: max-content;
  background-color: #4d4d4d;
  padding: 10px 10px 10px 20px;
  font-size: 22px;
  z-index: 1;
}
.experience .exp__date::before {
  content: "";
  border-radius: 50% 50% 0 50%;
  position: absolute;
  background-color: #4d4d4d;
  width: 48px;
  height: 48px;
  top: 0;
  right: -20px;
  z-index: -1;
  transform: rotate(-45deg);
  pointer-events: none;
}

.exp-title {
  position: absolute;
  bottom: -135px;
}

.contact-me {
  position: relative;
  padding: 60px 0;
}
.contact-me img {
  position: absolute;
  left: 0;
  top: -135px;
  z-index: -1;
}
.contact-me form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  padding: 20px 0;
}
.contact-me form input:-webkit-autofill,
.contact-me form input:-webkit-autofill:hover,
.contact-me form input:-webkit-autofill:focus,
.contact-me form textarea:-webkit-autofill,
.contact-me form textarea:-webkit-autofill:hover,
.contact-me form textarea:-webkit-autofill:focus,
.contact-me form select:-webkit-autofill,
.contact-me form select:-webkit-autofill:hover,
.contact-me form select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffc86b;
  -webkit-box-shadow: inset 0 0 0 50px #3d3e42;
  -webkit-transition: 0;
  transition: 0;
}
.contact-me form input, .contact-me form textarea {
  background-color: #3d3e42;
  border: 2px solid #3d3e42;
  padding: 10px 20px;
  font-family: "Montserrat-Regular";
  font-size: 22px;
  color: #ffc86b;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
.contact-me form input::-moz-placeholder, .contact-me form textarea::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.contact-me form input::placeholder, .contact-me form textarea::placeholder {
  transition: 0.3s;
}
.contact-me form input:active, .contact-me form input:focus, .contact-me form input:not(:invalid), .contact-me form textarea:active, .contact-me form textarea:focus, .contact-me form textarea:not(:invalid) {
  border-color: #ffc86b;
  transition: 0.3s;
}
.contact-me form input:active::-moz-placeholder, .contact-me form input:focus::-moz-placeholder, .contact-me form input:not(:invalid)::-moz-placeholder, .contact-me form textarea:active::-moz-placeholder, .contact-me form textarea:focus::-moz-placeholder, .contact-me form textarea:not(:invalid)::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #ffc86b;
}
.contact-me form input:active::placeholder, .contact-me form input:focus::placeholder, .contact-me form input:not(:invalid)::placeholder, .contact-me form textarea:active::placeholder, .contact-me form textarea:focus::placeholder, .contact-me form textarea:not(:invalid)::placeholder {
  transition: 0.3s;
  color: #ffc86b;
}
.contact-me form input, .contact-me form textarea, .contact-me form button {
  width: 100%;
  border-radius: 10px;
}
.contact-me form button {
  display: block;
  border: 4px solid #ffc86b;
  padding: 10px 0;
  border-radius: 10px;
  background: none;
  font-family: "Montserrat-Regular";
  font-size: 22px;
  color: #ffc86b;
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
}
.contact-me form button:hover {
  background-color: #ffc86b;
  color: #3d3e42;
  transition: 0.3s;
}

.my-contacts {
  margin-top: 40px;
  background-color: #3d3e42;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.my-contacts .title {
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-bottom: 5px;
}
.my-contacts .up, .my-contacts .down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.my-contacts .up span, .my-contacts .down span {
  background-color: #ffc86b;
  height: 2px;
  width: 100%;
}
.my-contacts .up {
  transform: translateY(-50%);
}
.my-contacts .down {
  transform: translateY(50%);
}
.my-contacts .social {
  display: flex;
  justify-content: center;
  margin: 0 0 -10px 0;
  flex-direction: row;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  right: auto;
  position: unset;
}
.my-contacts .social::after, .my-contacts .social::before {
  display: none;
}
.my-contacts .contacts {
  margin: 40px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.my-contacts .contacts__item {
  max-width: 350px;
  width: 100%;
  background-color: #31333b;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.my-contacts .contacts__item svg {
  fill: #eaeaea;
  transition: 0.3s;
}
.my-contacts .contacts__item span {
  color: #ffc86b;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  transition: 0.3s;
}
.my-contacts .contacts__item:hover {
  background-color: #ffc86b;
  transition: 0.3s;
}
.my-contacts .contacts__item:hover span {
  color: #34353a;
}
.my-contacts .contacts__item:hover svg {
  fill: #34353a;
}

footer {
  margin-top: 0;
  border: none;
  box-shadow: none;
  padding: 60px 20px;
}

@media screen and (max-width: 1350px) {
  .titule__img {
    margin-right: -20%;
  }
  .titule__text {
    margin: auto;
  }
  .experience .exp__items {
    margin-left: 30%;
  }
}
@media screen and (max-width: 1080px) {
  .titule {
    flex-direction: column;
  }
  .titule__img img {
    margin-top: -160px;
    margin-right: -140px;
  }
  .titule a {
    margin-top: 0;
  }
}
@media screen and (max-width: 950px) {
  .social {
    right: 20px;
    bottom: 10px;
  }
  .social::before {
    right: 23px;
    top: -120px;
  }
  .portfolio__block {
    width: 320px;
    height: 320px;
  }
  .experience .exp__items {
    margin-left: auto;
  }
  .experience .exp__date {
    position: initial;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px;
  }
  .experience .exp__date::before {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .experience .exp__item::before {
    left: 5px;
  }
  .experience .exp__item::after {
    left: -8px;
  }
}
@media screen and (max-width: 734px) {
  .portfolio__block {
    width: 280px;
    height: 280px;
  }
  .contact-me img {
    left: -76px;
    top: -217px;
  }
}
@media screen and (max-width: 625px) {
  .social {
    display: none;
  }
  .titule {
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    width: 100%;
  }
  .titule__img img {
    margin: auto;
  }
  .titule__img {
    margin: auto auto 28vh auto;
  }
  .titule__text {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    padding: 20px 10px;
  }
  .titule__text p {
    align-items: center;
    text-align: center;
  }
  .titule__text p:first-child {
    width: -moz-min-content;
    width: min-content;
  }
  .about {
    padding: 80px 0;
  }
  .about__text {
    font-size: 18px;
    text-align: justify;
    margin-left: 0;
  }
  .about__text::before {
    left: 0;
    top: -20px;
  }
}
@media screen and (max-width: 590px) {
  .skills {
    gap: 20px;
  }
}
@media screen and (max-width: 466px) {
  .portfolio__block {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 425px) {
  .about {
    padding: 40px 0;
  }
  .skills__block {
    height: 150px;
    width: 150px;
  }
  .titule__text, .titule p, .titule a {
    font-size: 24px;
  }
  .titule__text .titule__name {
    font-size: 34px;
  }
  .titule__img img {
    margin: auto;
    width: 100vw;
    height: 75vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio__block {
    height: 220px;
  }
}
@media screen and (max-width: 360px) {
  .my-contacts .contacts__item span {
    font-size: 18px;
  }
  .skills {
    gap: 10px;
  }
  .skills__block {
    height: 120px;
    width: 120px;
    font-size: 14px;
  }
  .skills__block img {
    max-width: 90px;
    max-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .titule__text, .titule p, .titule a {
    font-size: 18px;
  }
  .titule__text .titule__name {
    font-size: 28px;
  }
  .portfolio__block {
    height: 180px;
  }
  .my-contacts .contacts__item span {
    font-size: 14px;
  }
}
