@font-face {
  font-family: "PTSans-Regular";
  src: url("/fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url("/fonts/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("/fonts/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
.titule {
  background-color: #34353a;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 20px;
}
.titule .main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  perspective: 1000px;
}
.titule .main-block img {
  border-radius: 10px;
  height: 80%;
  perspective: 300px;
  transform: rotateY(335deg);
  cursor: pointer;
  transition: 0.3s;
}
.titule .main-block img:hover {
  transform: rotateY(340deg) scale(1.05);
  box-shadow: 0px 0px 30px 0px rgba(255, 201, 107, 0.4588235294);
  transition: 0.3s;
}
.titule .main-block .info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.titule .main-block .info .title {
  color: #ffc86b;
  text-align: start;
  margin: 20px 0;
}
.titule .main-block .info .short-desc {
  font-size: 18px;
  font-family: "RobotoMono-Regular";
  line-height: 25px;
  min-width: 500px;
}

.tags {
  position: relative;
  padding: 60px 20px;
}
.tags .tag-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.tags .tag-list li {
  margin-bottom: 25px;
}
.tags .tag-list li a {
  background-color: #5c5d60;
  color: #eaeaea;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "PTSans-Regular";
  font-size: 24px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.tags .tag-list li a span {
  color: #ffc86b;
  transition: 0.3s;
}
.tags .tag-list li a:hover {
  background-color: #ffc86b;
  color: #34353a;
  transition: 0.3s;
}
.tags .tag-list li a:hover span {
  color: #34353a;
  transition: 0.3s;
}
.tags .dots {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(30%);
}

.description {
  color: #eaeaea;
  font-family: "PTSans-Regular";
  font-size: 22px;
  line-height: 25px;
  padding: 60px 20px;
  margin-top: 40px;
  text-align: justify;
}
.description .title {
  margin-bottom: 40px;
}
.description b, .description strong, .description a {
  color: #ffc86b !important;
}
.description a {
  -webkit-text-decoration: revert;
          text-decoration: revert;
  transition: 0.3s;
}
.description a:hover {
  text-shadow: #ffc86b 1px 0 10px;
  transition: 0.3s;
}
.description p, .description ul {
  padding-bottom: 20px;
}
.description ul li {
  margin-left: 40px;
  margin-bottom: 5px;
  position: relative;
}
.description ul li::before {
  content: "";
  position: absolute;
  background-color: #ffc86b;
  height: 2px;
  width: 20px;
  left: 0;
  top: calc(50% - 1px);
  transform: translateX(calc(-50% - 20px));
}

.desc {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.desc__dots {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translateY(50%);
}

.images {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.images .title {
  margin-bottom: -30px;
}
.images a img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .titule {
    padding-top: 120px;
  }
  .titule .main-block {
    height: auto;
  }
  .titule .main-block img {
    cursor: unset;
    transform: none;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .titule .main-block img:hover {
    transform: none;
    box-shadow: none;
  }
  .titule .main-block {
    flex-direction: column-reverse;
  }
  .titule .main-block .titule .main-block .info {
    justify-content: center;
  }
  .titule .main-block .info .short-desc {
    min-width: auto;
  }
}
@media screen and (max-width: 961px) {
  .titule {
    padding-top: 0;
  }
}
