@font-face {
  font-family: "PTSans-Regular";
  src: url("/fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url("/fonts/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("/fonts/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #31333b;
  color: #eaeaea;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffc86b;
}
body::-webkit-scrollbar-track {
  background-color: rgba(52, 53, 58, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

main {
  flex: 1 1 auto;
}

.oh {
  overflow: hidden;
}

.bg {
  background-color: #34353a;
}

.yellow {
  color: #ffc86b;
}

#inact-h {
  display: none;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.typed-cursor {
  margin-top: auto !important;
  height: 100% !important;
  color: #ffc86b !important;
  font-size: 28px !important;
}

.title {
  font-size: 48px;
  font-family: "Merriweather-Bold";
  text-align: center;
  margin-bottom: 30px;
}

.text {
  font-family: "PTSans-Regular";
  font-size: 24px;
  line-height: 28px;
  color: #eaeaea;
}

footer {
  width: 100%;
  padding: 20px 20px;
  border-top: 2px solid #ffc86b;
  margin-top: 40px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-family: "PTSans-Regular";
  color: #ffc86b;
  gap: 5px;
}
footer a {
  padding: 10px 0;
  border-radius: 10px;
  color: #ffc86b;
  font-weight: bold;
  transition: 0.3s;
}
footer a:hover {
  padding: 10px 20px;
  color: #34353a;
  background-color: #ffc86b;
  transition: 0.3s;
}

.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 20px;
  background-color: rgba(255, 201, 107, 0.768627451);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 997;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  max-width: 90%;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.notify.active {
  opacity: 1;
  pointer-events: all;
  top: 90px;
  transition: 0.3s;
}
.notify svg {
  width: 24px;
  height: 24px;
  fill: #34353a;
  align-items: center;
  margin-right: -10px;
}
.notify .content {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #34353a;
  font-family: "PTSans-Regular";
  font-size: 24px;
  margin-left: 25px;
  text-align: center;
  line-height: normal;
}

@media screen and (max-width: 960px) {
  .main-block:first-child {
    padding-top: 100px;
  }
  .notify {
    right: 50%;
    transform: translateX(50%);
    min-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .main-block:first-child {
    padding-top: 70px;
  }
  .text {
    font-size: 18px;
  }
  .title {
    font-size: 34px;
  }
  .notify {
    top: 0;
  }
  .notify.active {
    top: 70px;
  }
}
