@import 'variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    color: $txt-color;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $yellow;
    }

    &::-webkit-scrollbar-track {
        background-color: $bg-header;
        backdrop-filter: blur(10px);
    }
}

.oh {
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.typed-cursor {
    margin-top: auto!important;
    height: 100%!important;
    color: $yellow!important;
    font-size: $subtitle-s!important;
}

.title {
    font-size: $title-s;
    font-family: $title-f;
    text-align: center;
    margin-bottom: 30px;
}

.text {
    font-family: $header-f;
    font-size: $subtitle-mobile-s;
    line-height: 28px;
    color: $txt-color;
}

footer {
    width: 100%;
    padding: 20px 20px;
    border-top: 2px solid $yellow;
    margin-top: 40px;
    box-shadow: $tile-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: $subtitle-mobile-2-s;
    font-family: $header-f;
    color: $yellow;
    gap: 5px;

    a {
        padding: 10px 0;
        border-radius: 10px;
        color: $yellow;
        font-weight: bold;
        transition: .3s;

        &:hover {
            padding: 10px 20px;
            color: $bg-block;
            background-color: $yellow;
            transition: .3s;
        }
    }
}





// ============================================== Media =============================================

@media screen and (max-width: 960px) {
    .main-block:first-child {
        padding-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .main-block:first-child {
        padding-top: 70px;
    }

    .text {
        font-size: $subtitle-mobile-2-s;
    }

    .title {
        font-size: $title-mobile-s;
    }
}