@import 'variables.scss';

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    background-color: $bg;
    color: $txt-color;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $yellow;
    }

    &::-webkit-scrollbar-track {
        background-color: $bg-header;
        backdrop-filter: blur(10px);
    }
}

main {
    flex: 1 1 auto;
}

.oh {
    overflow: hidden;
}

.bg {
    background-color: $bg-block;
}

.yellow {
    color: $yellow;
}

#inact-h {
    display: none;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.typed-cursor {
    margin-top: auto!important;
    height: 100%!important;
    color: $yellow!important;
    font-size: $subtitle-s!important;
}

.title {
    font-size: $title-s;
    font-family: $title-f;
    text-align: center;
    margin-bottom: 30px;
}

.text {
    font-family: $header-f;
    font-size: $subtitle-mobile-s;
    line-height: 28px;
    color: $txt-color;
}

footer {
    width: 100%;
    padding: 20px 20px;
    border-top: 2px solid $yellow;
    margin-top: 40px;
    box-shadow: $tile-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: $subtitle-mobile-2-s;
    font-family: $header-f;
    color: $yellow;
    gap: 5px;

    a {
        padding: 10px 0;
        border-radius: 10px;
        color: $yellow;
        font-weight: bold;
        transition: .3s;

        &:hover {
            padding: 10px 20px;
            color: $bg-block;
            background-color: $yellow;
            transition: .3s;
        }
    }
}





// ============================================== Modals =============================================

.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 20px;
    background-color: $yellow-opacity;
    border-radius: 10px;
    box-shadow: $header-shadow;
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 997;
    width: fit-content;
    height: fit-content;
    backdrop-filter: blur(10px);
    max-width: 90%;
    pointer-events: none;
    opacity: 0;
    transition: .3s;

    &.active {
        opacity: 1;
        pointer-events: all;
        top: 90px;
        transition: .3s;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: $bg-block;
        align-items: center;
        margin-right: -10px;
    }

    .content {
        display: block;
        width: fit-content;
        height: fit-content;
        color: $bg-block;
        font-family: $header-f;
        font-size: $subtitle-mobile-s;
        margin-left: 25px;
        text-align: center;
        line-height: normal;
    }
}








// ============================================== Media =============================================

@media screen and (max-width: 960px) {
    .main-block:first-child {
        padding-top: 100px;
    }

    .notify {
        right: 50%;
        transform: translateX(50%);
        min-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .main-block:first-child {
        padding-top: 70px;
    }

    .text {
        font-size: $subtitle-mobile-2-s;
    }

    .title {
        font-size: $title-mobile-s;
    }

    .notify {
        top: 0;

        &.active {
            top: 70px;
        }
    }
}