@import 'fonts.scss';

// fonts

$header-f: 'PTSans-Regular';
$txt-f: 'RobotoMono-Regular';
$title-f: 'Merriweather-Bold';

// colors

$bg: #31333b;
$bg-block: #34353a;
$bg-block-2: #3d3e42;
$bg-header: rgba(52, 53, 58, .5);
$yellow: #ffc86b;
$yellow-opacity: #ffc96bc4;
$inp-bg: #3d3e42;
$bg-year: #5c5d60;

$txt-color: #eaeaea;
$txt-color-inact: #b9b9ba;
$inp-color: #cbcbcc;



// font size

$header-s: 22px;
$header-mobile-s: 32px;
$header-mobile-mini-s: 24px;

$txt-s: 18px;

$title-s: 48px;
$subtitle-s: 28px;

$title-mobile-s: 34px;
$subtitle-mobile-s: 24px;

$title-mobile-2-s: 28px;
$subtitle-mobile-2-s: 18px;
$subtitle-mobile-3-s: 14px;

$lsp: 2px;
$lsp-txt: -1px;
$lh-txt: 25px;


// shadow

$header-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
$tile-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
$yellow-shadow: 0px 0px 20px 0px $yellow;
$yellow-ultra-shadow: 0px 0px 30px 0px #ffc96b75;

$txt-yellow-shadow: $yellow 1px 0 10px;

// height

$fh: calc(var(--vh, 1vh) * 100);
