@import 'fonts.scss';

// fonts

$header-f: 'PTSans-Regular';
$txt-f: 'RobotoMono-Regular';
$title-f: 'Merriweather-Bold';

// colors

$bg: #31333b;
$bg-block: #3d3e42;
$yellow: #ffc86b;

$txt-color: #e6e7e9;
